asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.7
fpdf==1.7.2
idna==3.10
lxml==5.3.1
nelsie==0.16.0
pdfkit==1.0.0
pillow==11.1.0
pyTelegramBotAPI==4.26.0
python-dotenv==1.1.0
python-pptx==1.0.2
requests==2.32.3
sqlparse==0.5.3
telebot==0.0.5
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.3.0
XlsxWriter==3.2.2
python-docx==1.1.2
